* {
  font-family: Courier, monospace;
}

html {
  overflow-x: hidden;
}

body {
  background-image: url(foto/background2.gif);
  background-color: grey;
  background-size: 100%;
  background-repeat: repeat-y;
}

.naslov {
  font-size: 4vw;
}

.middle-body {
  background-color: rgba(36,36,36,.81);
  border-left: black solid 4px;
  border-right: black solid 4px;
}

/* Style the navigation menu */
.navbardiv {
  background-color:black;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color:rgba(41,33,48,1);
  overflow: auto;
  border-top: black solid 4px;
  border-bottom: black solid 4px;
  border-radius: 8px;
  border: 2px black solid;
  border-radius: 4px;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a.inactive:hover {
  background-color: #25122f !important;
  border: rgba(61,25,75,1) solid 2px;
  color: rgba(206,162,250,1);
}

/* Style the current/active link */
.navbar a.active {
  background-color: rgba(152,134,204,1);
  border: rgba(71,23,91,1) solid 2px;
  color: rgba(32,0,64,1);
  font-weight: bold;
}

/* Style the inactive links */
.navbar a.inactive {
  background-color: rgba(63,57,82,1);
  border: rgba(95,53,112,1) solid 2px;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 1600px) {
  .navbar a {
    float: none;
    display: block;
    width: 50%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.blackb {
  background-color: black;
}

.text-area {
  background-color: rgba(36,36,36);
}

.text-area2 {
  padding-left: 10%;
  padding-right: 10%;
}

.border-area {
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  border-radius: 4px;
}

.border-area2 {
  border-left: 2px black solid;
  border-right: 2px black solid;
  border-top: 2px black solid;
  border-radius: 4px;
  background-color:rgba(41,33,48,1);
}

.border-color {
  border-left: 2px black solid;
  border-color: white;
}

.projekt-naslov-h1 {
  font-weight: bold;
}

.projekt-naslov-h2 {
  font-weight: bold;
}

hr {
  border-top: 4px dashed black;
}

.btn-custom {
  background-color: rgba(63,57,82,1);
  border: rgba(95,53,112,1) solid 2px;
  color: white;
  font-size: 100%;
}

button.btn-custom:hover {
  background-color: #25122f !important;
  border: rgba(61,25,75,1) solid 2px;
  color: rgba(206,162,250,1);
}

.ul-custom  {
  background-color: rgba(200,195,214,1);
  color: rgba(32,0,64,1);
}
