@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

body {
  background-color: grey;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-color: rgba(0,0,0,0.9) !important;
}
/*----------LEFT------------*/
.div-left {
  position: relative;
  height: 1080px;
  width: 50%;
  border-right: white 5px solid;
  overflow: hidden;
  transition: filter 1.5s, width 1s;
}

.img-left {
  float: left;
  filter: brightness(25%) blur(5px);
  transition: filter 1.5s, width 1s;
}

.div-left:hover {
  transition: filter 2s, width 1s;
  width: 70%;
}

.img-left-hover {
  filter: brightness(100%) blur(0px);
}
/*----------ENDLEFT------------*/
.fixed {
  width: 70% !important;
}
/*----------RIGHT------------*/
.div-right {
  position: relative;
  height: 1080px;
  width: 50%;
  border-left: white 5px solid;
  overflow: hidden;
  transition: filter 1.5s, width 1s;
}

.img-right {
  float: right;
  filter: brightness(25%) blur(5px);
  transition: filter 1.5s, width 1s;
}

.div-right:hover {
  transition: filter 2s, width 1s;
  width: 70%;
}

.img-right-hover {
  filter: brightness(100%) blur(0px);
}

.MA {
  color: white;
  font-size: 125px;
  text-shadow: 0 0 4px white, 0 0 16px white, 0 0 64px white;
}

.MA-S {
  color: white;
  font-size: 60px;
  text-shadow: 0 0 4px white, 0 0 16px white, 0 0 64px white;
}
/*----------ENDRIGHT------------*/
/*----------TRANSITION-----------*/
.transition {
  width: 30% !important;
}
/*----------------------*/
/*---------HIDE------------*/
.hide {
    transition: filter 0.5s;
    filter: opacity(0%);
}
/*----------------------*/
/*---------SHOW------------*/
.show {
    transition: filter 1.5s;
    filter: opacity(100%);
}
/*----------------------*/
/*---------POS------------*/
.pos {
  position: absolute;
}
/*----------------------*/
/*----------TITLELEFT------------*/
.title-left {
  transition: 1s;
  right: 0%;
  top: 500px;
  margin-right: 25px;
  font-size: 85px;
  color: cyan;
  text-shadow: 0 0 4px cyan, 0 0 16px cyan, 0 0 64px cyan;
  font-weight: bold;
}

.title-left-top {
  transition: 1s;
  right: 0%;
  top: -10px;
  margin-right: 100px;
  font-size: 85px;
  color: cyan;
  text-shadow: 0 0 4px cyan, 0 0 16px cyan, 0 0 64px cyan;
  font-weight: bold;
}
/*----------ENDTITLELEFT------------*/
.title-dark-hide-left{
  transition: 1.5s;
  background-color: black;
  height: 0px;
  width: 1500px;
  background-color: rgba(0, 0, 0, 0.75);
  top: -100px;
  right: -100px;
}

.title-dark-show-left{
  transition: 1.5s;
  background-color: black;
  height: 300px;
  width: 1500px;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: white 10px solid;
  right: -100px;
  top: -100px;
}
.title-dark-hide-right{
  transition: 1.5s;
  background-color: black;
  height: 0px;
  width: 1500px;
  background-color: rgba(0, 0, 0, 0.75);
  top: -100px;
  left: -100px;
}

.title-dark-show-right{
  transition: 1.5s;
  background-color: black;
  height: 300px;
  width: 1500px;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: white 10px solid;
  left: -100px;
  top: -100px;
}
/*----------TITLERIGHT------------*/
.title-right {
  transition: 1s;
  left: 0%;
  top: 500px;
  margin-left: 25px;
  font-size: 85px;
  color: lightgreen;
  text-shadow: 0 0 4px lightgreen, 0 0 16px lightgreen, 0 0 64px lightgreen;
  font-weight: bold;
}

.MA {
  color: white;
  font-size: 125px;
  text-shadow: 0 0 4px white, 0 0 16px white, 0 0 64px white;
}

.title-right-top {
  transition: 1s;
  left: 0%;
  top: -10px;
  margin-left: 100px;
  font-size: 85px;
  color: lightgreen;
  text-shadow: 0 0 4px lightgreen, 0 0 16px lightgreen, 0 0 64px lightgreen;
  font-weight: bold;
}
/*----------ENDTITLERIGHT------------*/
/*----------BACKLEFT------------*/
.back-left {
  transition: 0.25s;
  color: white;
  text-shadow: 0 0 4px white, 0 0 16px white, 0 0 64px white;
  left: 0%;
  bottom: 0px;
  margin-left: 25px;
  font-size: 55px;
}
.back-left:hover {
  transition: 0.25s;
  color: aqua;
  text-shadow: 0 0 4px aqua, 0 0 16px aqua, 0 0 64px aqua;
}
/*----------ENDBACKLEFT------------*/
/*----------BACKRIGHT------------*/
.back-right {
  transition: 0.25s;
  color: white;
  text-shadow: 0 0 4px white, 0 0 16px white, 0 0 64px white;
  right: 0%;
  bottom: 0px;
  margin-right: 25px;
  font-size: 55px;
}
.back-right:hover {
  transition: 0.25s;
  color: lightgreen;
  text-shadow: 0 0 4px lightgreen, 0 0 16px lightgreen, 0 0 64px lightgreen;
}
/*----------ENDBACKRIGHT------------*/
/*----------MENULEFT------------*/
.menu-left {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px rgba(0,0,0,0.4),
    0 0 8px rgba(0,0,0,0.6),
    0 0 10px rgba(0,0,0,0.8),
    0 0 25px rgba(0,0,0,1),
    0 0 35px rgba(0,0,0,1);
  border-radius: 25px;
  padding: 25px;
  transition: 1s;
  top: 400px;
  right: 0%;
  font-size: 45px;
  color: lightblue;
  text-shadow: 0 0 4px lightblue, 0 0 16px lightblue, 0 0 64px lightblue;
  margin-right: -100px;
}

.option-left-hide {
  transition: 1s;
  margin-right: -500px;
}
.option-left-show-active {
  transition: 1s;
  color: aqua !important;
  text-shadow: 0 0 4px aqua, 0 0 16px aqua, 0 0 64px aqua !important;
  transition: 0.25s;
}

.option-left-show {
  transition: right 1s, margin-right 1s, color 0.25s;
  right: 0%;
  margin-right: 125px;
  cursor: pointer;
}

.option-left-show:hover {
  color: aqua ;
  text-shadow: 0 0 4px aqua, 0 0 16px aqua, 0 0 64px aqua;
  transition: 0.25s;
}
/*----------ENDMENULEFT------------*/
/*----------MENURIGHT------------*/
.menu-right {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px rgba(0,0,0,0.4),
    0 0 8px rgba(0,0,0,0.6),
    0 0 10px rgba(0,0,0,0.8),
    0 0 25px rgba(0,0,0,1),
    0 0 35px rgba(0,0,0,1);
  border-radius: 25px;
  padding: 25px;
  transition: 1s;
  top: 400px;
  left: 0%;
  font-size: 45px;
  color: rgb(229, 255, 224);
  text-shadow: 0 0 4px rgb(229, 255, 224), 0 0 16px rgb(229, 255, 224), 0 0 64px rgb(229, 255, 224);
  margin-left: -100px;
}

.option-right-hide {
  transition: 1s;
  margin-left: -500px;
}

.option-right-show {
  transition: left 1s, margin-left 1s, color 0.25s;
  left: 0%;
  margin-left: 125px;
}

.option-right-show:hover {
  color: lightgreen;
  text-shadow: 0 0 4px lightgreen, 0 0 16px lightgreen, 0 0 64px lightgreen;
  transition: 0.25s;
}
/*----------ENDMENURIGHT------------*/
/**----------LIBRARYLEFT-----------------*/
.library-left {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px rgba(0,0,0,0.4),
    0 0 8px rgba(0,0,0,0.6),
    0 0 10px rgba(0,0,0,0.8),
    0 0 25px rgba(0,0,0,1),
    0 0 35px rgba(0,0,0,1);
  width: 70%;
  height: 560px;
  border-radius: 25px;
  padding: 25px 125px 25px 25px;
  transition: 1s;
  top: 400px;
  font-size: 45px;
  color: lightblue;
  text-shadow: 0 0 4px lightblue, 0 0 16px lightblue, 0 0 64px lightblue;
}

.library-left-show {
  left: 5%;
}

.library-left-hide {
  left: -1000px;
}

.manga {
  width: 10%;
  height: 200px;
}

.card , .card-img-top {
  border-radius: 0px !important;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.5);
}

.manga-card {
  border: none;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 2px rgba(0,0,0,0.4),
    0 0 8px rgba(0,0,0,0.6),
    0 0 10px rgba(0,0,0,0.8),
    0 0 25px rgba(0,0,0,1),
    0 0 35px rgba(0,0,0,1);
  color: white;
  border-top: solid white 10px;
  width: 101%;
  overflow: hidden;
}

.manga-card-show {
  transition: 1s;
  top: 190px;
}

.manga-card-hide {
  transition: 3s;
  top: -5000px;
}

.manga-img-div {
  background-color: white;
  object-fit:contain;
  overflow: hidden;
  text-align: center;
}

.manga-img {
  height: 660px;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-top: 5px solid black;
}

.manga-size {
  transition: 0.75s;
  position: relative;
  border-left: groove white 10px;
  border-top: inset white 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 10px;
  bottom: 0%;
  height: 200px;
  transform: skewY(-10deg) scaleX(0.8);
}

.manga-size-hover {
  transition: 0.5s;
  position: relative;
  border-left: outset white 10px;
  border-top: inset white 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 5px;
  bottom: 200px;
  height: 300px;
  transform: skewY(0deg) scaleX(1);
}

.carousel-control-prev {
  left: 10px;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.carousel-control-next {
  right: 10px;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

.score {
  color: cyan;
}
/**----------LIBRARYLEFTEND-----------------*/
